{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Groups{% endblock meta_title %}

{% block title %}Groups{% endblock title %}

{% block content %}

<a class="btn btn-primary" href="{% url "groups_add" %}">Add group</a>
<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Group</th>
                <th>Leader</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'groups_students' group.id %}">{{ group.title }}</a></td>
            <td>{{ group.leader }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                        type="button" data-toggle="dropdown">Action<span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}">
                                    Edit
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}">
                                    Delete
                                </a>
                            </li>
                        </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}