{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Edit group{% endblock meta_title %}

{% block title %}Edit{% endblock title %}

{% block content %}

<form class="add_form" action="{% url 'groups_edit' object.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
    <input type="submit" value="Save" name="add_button"
           class="add_button" />
        <button type="submit" name="cancel_button" value="Cancel"
                class="cancel_button">Cancel</button>
</form>


{% endblock content %}